<center><h1 style="color:green;">LESLY MILENA PISCO QUISPE</h1></centre>

# Librerías

In [1]:
'''La libreria pandas proporciona herramientas de analisis y manipulacion de datos de alto rendimiento'''
import pandas as pd

<center><h1 style="color:red;">EXTRAER</h1></centre>

# Lectura del dataset

In [2]:
'''Archivo 'csv' gardado en una variable para hacer mas didactica la llamada del dataset  '''
archivo='data_act_01.csv'

In [3]:
'''Lectura del dataset usando la funcion pandas, como parametros se pasa la variable que contiene
el archivo 'csv' y su debida separacion, que en este caso esta delimitado por ';' '''
df= pd.read_csv(archivo,sep=(';'))
'''Usando la funcion 'head()' se puede construir un dataframe de los datos cargados en la 
variable objeto df '''
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

<center><h1 style="color:red;">TRANSFORMAR</h1></centre>

# Diagnóstico de los datos

### Verificación de los datos nulos

In [4]:
'''Usando la funcion 'isnull()' se puede determinar si existen datos nulos en las columnas del 
dataset. Con esto se da uso de la funcion 'sum()' que permite saber cuantos valores nulos hay en
el dataset.'''
df.isnull().sum()

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

### Tipos de datos

In [5]:
''' Dando uso del objeto dtypes, se pueden determinar los tipos de datos que contiene el dataset, en
este caso se presentaran los tipos de datos de cada una de las columnas.'''
df.dtypes

CrimeId                    int64
OriginalCrimeTypeName     object
OffenseDate               object
CallTime                  object
CallDateTime              object
Disposition               object
Address                   object
City                      object
State                     object
AgencyId                  object
Range                    float64
AddressType               object
dtype: object

### Verificación de datos errados mediante el agrupamiento

In [6]:
'''Se considera agrupar los datos de la columna 'OriginalCrimeTypeName' usando la funcion 'groupby()'. Se debe
de tener en consideracion que para saber la longitud de datos que se repiten se adjunta la funcion 
'size()' '''
df.groupby('OriginalCrimeTypeName').size()

OriginalCrimeTypeName
***901 Req***     1
**Tazer**         1
*909*             1
.25/500e          2
.52               1
                 ..
Wz               12
X                17
X 594             1
Yelling           3
`Drugs            1
Length: 575, dtype: int64

In [7]:
'''Se considera agrupar los datos de la columna 'Disposition' usando la funcion 'groupby()'. Se debe
de tener en consideracion que para saber la longitud de datos que se repiten se adjunta la funcion 
'size()' '''
df.groupby('Disposition').size()

Disposition
22                77
ABA               97
ADM               48
ADV             1142
ARR               65
CAN              353
CIT             1425
CRT                2
GOA             1273
HAN             2820
INC               17
NCR               82
ND               427
NOM              324
Not recorded     543
PAS              170
REP              800
SFD                1
UTL              385
dtype: int64

In [8]:
'''Se considera agrupar los datos de la columna 'Disposition' usando la funcion 'groupby()'. Se debe
de tener en consideracion que para saber la longitud de datos que se repiten se adjunta la funcion 
'size()' '''
df.groupby('Disposition').size()

Disposition
22                77
ABA               97
ADM               48
ADV             1142
ARR               65
CAN              353
CIT             1425
CRT                2
GOA             1273
HAN             2820
INC               17
NCR               82
ND               427
NOM              324
Not recorded     543
PAS              170
REP              800
SFD                1
UTL              385
dtype: int64

In [9]:
'''Se considera agrupar los datos de la columna 'City' usando la funcion 'groupby()'. Se debe de tener
en consideracion que para saber la longitud de datos que se repiten se adjunta la funcion 'size()' '''
df.groupby('City').size()

City
 S                  1
Brisbane            1
Daly City           5
Presidio            3
SAN FRANCISCO       1
San Francisco    9665
Treasure Isla      51
Yerba Buena         3
dtype: int64

In [10]:
'''Se considera agrupar los datos de la columna 'AgencyId' usando la funcion 'groupby()'. se debe
de tener en consideracion que para saber la longitud de datos que se repiten se adjunta la funcion 
'size()' '''
df.groupby('AgencyId').size()

AgencyId
1     10048
CA        3
dtype: int64

In [11]:
'''Se considera agrupar los datos de la columna 'AddressType' usando la funcion 'groupby()'. se debe
de tener en consideracion que para saber la longitud de datos que se repiten se adjunta la funcion 
'size()' '''
df.groupby('AddressType').size()

AddressType
1                     3
Common Location     818
Geo-Override        469
Intersection       3701
Intersectioon         1
Premise Address    5059
dtype: int64

### Visualización de las filas erradas

In [12]:
'''Llamando la columna 'AddressType' en la que se llaman especificamente su valor es de uno '''
df[df.AddressType == '1']

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
5771,160942112,Auto Boost / Strip,2016-04-03T00:00:00,14:30,2016-04-03T14:30:00,REP,Martin Luther King Dr/bowling Green Dr,NaN,NaN,CA,NaN,1
8021,160952280,Auto Boost / Strip,2016-04-04T00:00:00,14:46,2016-04-04T14:46:00,REP,Martin Luther King Dr/nancy Pelosi Dr,S,NaN,CA,NaN,1
8473,160953118,Auto Boost / Strip,2016-04-04T00:00:00,18:11,2016-04-04T18:11:00,REP,Conservatory Drive E/john F Kennedy Dr,NaN,NaN,CA,NaN,1

# Limpieza de datos

### Eliminación de columnas

In [13]:
'''Eliminacion de la columna 'CallTime' debido a su redundancia con la columna 'CallDateTime' y la 
columna 'Range' por la alta cantidad de registros nulos. Usando la funcion 'drop()' se pueden 
identificar la cantidad de columnas que se desean eliminar. Se debe de especificar 
'inplace = True'debido a que no se crea ningún objeto nuevo, el objeto original se modifica 
directamente.'''
df.drop(columns=['CallTime','Range'], inplace=True)

### Reemplazo de datos errados y nulos

In [14]:
'''Como se encontraron datos errados en la columna 'OriginalCrimeTypeName' se procede a corregir los errores usando
la funcion 'replace()' para reemplazar los datos errados por los datos correctos'''
df['OriginalCrimeTypeName'].replace({'***901 Req***': '901 Req',
                        '**Tazer**': 'Tazer',
                        '*909*': '909',
                        '.25/500e':'25/500e',
                        '.52':'52',
                        '`Drugs':'Drugs'}, inplace=True)

In [15]:
'''Como se encontraron datos errados en la columna 'City' se procede a corregir los errores usando
la funcion 'replace()' para reemplazar los datos errados por los datos correctos'''
df['City'].replace({'SAN FRANCISCO': 'San Francisco',
                        ' S': 'San Francisco',
                        'Treasure Isla': 'Treasure Island'}, inplace=True)

In [16]:
'''Como se encontraron datos errados en la columna 'AgencyId' se procede a corregir los errores usando
la funcion 'replace()' para reemplazar los datos errados por los correctos'''
df['AgencyId']=df['AgencyId'].replace('CA','1')

In [17]:
'''Como se encontraron datos errados en la columna 'AddressType' se procede a corregir los errores usando
la funcion 'replace()' para reemplazar los datos errados por los correctos'''
df['AddressType']=df['AddressType'].replace('Intersectioon', 'Intersection')

In [18]:
'''Como se encontraron datos errados en la columna 'Disposition' se procede a corregir los errores usando
la funcion 'replace()' para reemplazar los datos errados por los correctos'''
df['Disposition'] = df['Disposition'].replace('Not recorded','NR')

In [19]:
'''Reemplazo por el valor que mas se repite es decir la moda'''
df['AddressType']=df['AddressType'].replace('1','Premise Address')

In [20]:
'''Reemplazo de los datos nulos usando la funcion fillna() por el valor que mas se repite'''
df['State'].fillna('CA', inplace=True)

In [21]:
'''Eliminacion de los datos NaN'''
df['City'].fillna('Not Defined', inplace=True)

### Cambio de tipo de datos

In [22]:
''' Como se diagnosticaron que los tipos de datos de la columna 'CallDateTime' se encontraban como
objetos, se procede a cambiar a un tipo adecuado lo cual es 'datetime'. Gracias a las funciones
que ofrece la libreria pandas, se puede hacer el cambio considerando al tipo de dato que se desea cambiar'''
df['CallDateTime'] = pd.to_datetime(df['CallDateTime'], errors='coerce')

In [23]:
''' Como se diagnosticaron que los tipos de datos de la columna 'OffenseDate' se encontraban como
objetos, se procede a cambiar a un tipo adecuado lo cual es 'datetime'. Gracias a las funciones
que ofrece la libreria pandas, se puede hacer el cambio considerando al tipo de dato que se desea cambiar'''
df['OffenseDate'] = pd.to_datetime(df['OffenseDate'], errors='coerce')

In [24]:
''' Como se diagnosticaron que los tipos de datos de la columna 'AgencyId' se encontraban como
objetos, se procede a cambiar a un tipo adecuado lo cual es 'numerico'. Gracias a las funciones
que ofrece la libreria pandas, se puede hacer el cambio considerando al tipo de dato que se 
desea cambiar'''
df['AgencyId'] = pd.to_numeric(df['AgencyId'], errors='coerce')

# Verificación de la limpieza

In [25]:
'''Usando la funcion 'isnull()' se puede determinar si existen datos nulos en las columnas del 
dataset. Con esto se da uso de la funcion 'sum()' que permite saber cuantos valores nulos hay en
el dataset.'''
df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

In [26]:
''' Dando uso del objeto dtypes, se pueden determinar los tipos de datos que contiene el dataset, en
este caso se presentaran los tipos de datos de cada una de las columnas.'''
df.dtypes

CrimeId                           int64
OriginalCrimeTypeName            object
OffenseDate              datetime64[ns]
CallDateTime             datetime64[ns]
Disposition                      object
Address                          object
City                             object
State                            object
AgencyId                          int64
AddressType                      object
dtype: object

<center><h1 style="color:red;">CARGAR</h1></centre>

# Dataset guardado en otros formatos

In [27]:
'''El Daraframe con la limpieza aplicada de procede a guardar sus datos en un nuevo archivo plano,
en este caso se da uso de la extension CSV'''
df.to_csv('data_act_01_Limpio.csv', sep=',', index=False, header=True)
'''El Daraframe con la limpieza aplicada de procede a guardar sus datos en un nuevo archivo plano,
en este caso se da uso de la extension JSON'''
df.to_json('data_act_01_Limpio.json', orient='records', lines=True)
'''Lectura del dataset en formato JSON almacenado anteriormente'''
dfJSON=pd.read_json("data_act_01_Limpio.json", orient='records', lines=True)
'''Visualización de los datos'''
dfJSON

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,1459296000000,1459363320000,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,1459382400000,1459438260000,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,1459382400000,1459442940000,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,1459382400000,1459445880000,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,1459382400000,1459446120000,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,1459814400000,1459899480000,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,1459814400000,1459899780000,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,1459814400000,1459900080000,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,1459814400000,1459900080000,NR,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,1459814400000,1459900440000,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [28]:
'''Visualización de datos nulos en el formato JSON cargado'''
dfJSON.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

In [29]:
'''Verificacion del agrupamiento de la columna City'''
dfJSON.groupby('City').size()

City
Brisbane              1
Daly City             5
Not Defined         321
Presidio              3
San Francisco      9667
Treasure Island      51
Yerba Buena           3
dtype: int64