<center><h1 style="color:green;">LESLY MILENA PISCO QUISPE</h1></centre>

# Librer√≠as

In [1]:
'''La libreria pandas proporciona herramientas de analisis y manipulacion de datos de alto rendimiento'''
import pandas as pd

<center><h1 style="color:red;">EXTRAER</h1></centre>

# Lectura del dataset

In [2]:
'''Archivo 'csv' gardado en una variable para hacer mas didactica la llamada del dataset  '''
archivo='data_act_01.csv'

In [3]:
'''Lectura del dataset usando la funcion pandas, como parametros se pasa la variable que contiene
el archivo 'csv' y su debida separacion, que en este caso esta delimitado por ';' '''
df= pd.read_csv(archivo,sep=(';'))
'''Usando la funcion 'head()' se puede construir un dataframe de los datos cargados en la 
variable objeto df '''
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection